<form [formGroup]="registerFrom" class="loginUser" (ngSubmit)="register()">
    <div class="Login">
    <mat-form-field appearance="fill">
        <mat-label>Nickname</mat-label>
        <input formControlName="nickname" class="input" matInput >
      </mat-form-field>
      <mat-form-field  appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password"class="input" matInput [type]="'password'">   
      </mat-form-field>
      <button class="btn btn-primary" >Register</button>                     
      </div>
    </form>  