<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
    
    <body>
        <div class="container">
            <mat-tab-group mat-align-tabs="center" animationDuration="1000ms" dynamicHeight class="mat-tab-class">
              <mat-tab class="loginUser" label="Login"> 
                <app-login></app-login>
              </mat-tab>
                <mat-tab label="Register"> 
                       <app-register></app-register>
                </mat-tab>
              </mat-tab-group>     
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
        </div>
    </body>
</section>
